@page

@model IndexModel
@using MisVacaciones.Services.Dto;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4>Mis Próximas Vacaciones</h4>
</div>
<form enctype="multipart/form-data" method="post">
    @*File Upload part*@
    <div class="form-group">
        <label class="file">
            <input type="file" asp-for="fileUpload.FormFile" multiple aria-label="File browser example">
            <span class="file-custom"></span>
        </label>
        <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload">
    </div>

    @{
        if (ViewData["SuccessMessage"] != null)
        {
            <span class="badge badge-success"> @ViewData["SuccessMessage"]</span>
        }
    }

    @*Displaying Analysis results*@
    <div class="row">
        <div class="col-sm-6">

            @if (ViewData["ImageUrl"] != null)
            {
                var imageUrl = Convert.ToString(ViewData["ImageUrl"]);
                <img src="UploadImages/@imageUrl" alt="rijsat.com" class="img-thumbnail" />
            }
        </div>
        <div class="col-sm-6 small">
            <p>
                @if (ViewData["ImageAnalysisViewModel"] != null)
                {
                    var imageAnalysisView = (ImageAnalysisViewModel)ViewData["ImageAnalysisViewModel"];
                    <h5>Description</h5>
                    foreach (var caption in imageAnalysisView.imageAnalysisResult.Description.Captions)
                    {
                        <span class="text-info"> @caption.Text: with confidence @caption.Confidence</span><br />
                    }
                    <h5>Landmarks:</h5>
                    foreach (var category in imageAnalysisView.imageAnalysisResult.Categories)
                    {
                        if (category.Detail?.Landmarks != null)
                        {
                            foreach (var landmark in category.Detail.Landmarks)
                            {
                                <span class="text-success"> @landmark.Name with confidence: @landmark.Confidence</span><br />
                            }
                        }
                    }
                    <h5>Coordinates</h5>
                    @if (ViewData["Coordinates"] != null)
                    {
                        var coordinatesModel = (CoordinatesViewModel)ViewData["Coordinates"];

                        <span class="badge badge-warning">Latitud: @coordinatesModel.latitude </span>
                        <span class="badge badge-warning">Longitud: @coordinatesModel.longitude </span>
                    }
                    <h5>Category:</h5>
                    foreach (var category in imageAnalysisView.imageAnalysisResult.Categories)
                    {
                        <span class="text-success"> @category.Name with confidence: @category.Score</span><br />
                    }
                    <h5>Tags</h5>
                    foreach (var tag in imageAnalysisView.imageAnalysisResult.Tags)
                    {
                        <span class="badge badge-success">@tag.Name - @tag.Confidence</span>
                    }
                }
            </p>
        </div>
    </div>
</form>  